*{
    margin;0px;
	padding:0px
}
p{
	color: white;
	background-color: gray;
	font-size: 130%
}
#intro{                             /* id # */
	color: white;
	background-color: gray;
}
.first{								/* 标签 . */
	font-size: 200%;
}
#erJ .second em{ 					
	color: red;
	background-color: gray;
}
#erJ p{
	color: blue;
}