*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 16px;
	color: #673929;
}

#container{
	width: 900px;
	margin: 0 auto;
}
#header{
	height: 220px;/*必须添加，否则header下面有10px而不是5px*/
	margin-bottom: 5px;
	position: relative; /*父层定位*/
}
#icon-list{
	position: absolute; /*子层定位*/
	/* 以左侧(X)，顶部(Y)为基准，靠近为负，远离为正，顺正逆负 */
	top: 180px;
	right: 30px;
	width: 130px;
	height: 30px;
	font-size: 0px; /*设置字号为0去除img自带的间隔属性*/
	/*background: white;*/
}
#icon-list img{
	margin-left: 5px; 
}
#nav{
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 5px;
    background-color: #09c;
    font: 18px/30px 微软雅黑;  /*字体大小/行高*/
    color: #fff;
    letter-spacing: 2px;
}
#nav a{
	text-decoration: none;
}
a:link{
	color: #fff;
/*	text-decoration: none;*/
}
a:visited{
	color: #fff;
/*	text-decoration: none;*/
}
a:hover{
	color: yellow;
/*	text-decoration: none;*/
}
a:active{
	color: yellow;
/*	text-decoration: none;*/
}
#main{
	background-color: #000;
/*	height: 2050px;*/
}
#aside{
	float: left;  /*脱离文档流且不占据原来的位置*/
	width: 300px;
	height: 857px;
	background-color: #6cf;
	text-align: center;
	font-size: 14px;
}
#aside h2{
	margin: 20px;
}
#imglist{
	width: 130px;
	margin: 0 auto;
}
.polaroid{
	width: 85px;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #bfbfbf;
	box-shadow: 2px 2px 4px #aaa;
    border-radius: 5px;	
}
.rotate_left{
	-ms-transform: rotate(7deg); /* IE 9 */;
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome
	-o-transform:rotate(7deg); /* Opera */
	transform:rotate(7deg);
}
.rotate_right{
	-ms-transform:rotate(-8deg); /* IE 9 */
	-moz-transform:rotate(-8deg); /* Firefox */
	-webkit-transform:rotate(-8deg); /* Safari and Chrome */
	-o-transform:rotate(-8deg); /* Opera */
	transform:rotate(-8deg);
}
#imglist img{
	height: 95px;
	width: 85px;
	margin: 0 auto;
	font-size: 0;
}
#imglist img:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#content{
	float: right; /*向右浮动，脱离文档流，不占据原来的位置*/
	width: 595px;
/*	height: 2050px;*/
	margin-bottom: 5px;
	background-color: #cff;
}
.subcon{
	width: 570px;
	margin: 10px auto; /*上下10px，左右居中*/
/*margin的值对于上下垂直方向的边距有合并效果*/		
	clear: both;
}
.subcon img{
	margin: 5px;
	padding: 5px;
	float: left;
	border: 1px dashed #000;
}
.suncon .subtext{
	width: 60%; /*父级宽度的60%*/
	float: left;
	margin: 5px;
}
.subcon h2{
	margin: 5px;
}
.subcon p{
	font: 16px/2em 微软雅黑; /*行高是2倍行高*/ 
}
#footer{
	height: 60px;
	line-height: 60px; /*高度与行高相同，文字垂直居中对齐*/
	background-color: #6cf;
	clear: both; 
/*因为footer上有浮动的主体部分，为了该部分不移上去占据空位，要清除浮动*/
	text-align: center;
}
#l-fix{
	position: fixed; /*固定定位，不脱离文档流，是相对于浏览器左上角的定位*/
	top: 100px;
	left: 5px;
}
#l-fix img{
	height: 100px;
	width: 100px;
}