/* h1     {  color:    orange;} 
   Selector  Property  Value
   选择器    特性      值
 */
*{
	padding:0px;
	margin:0px;
}
#serif{
	font-family: "Times New Roman", Times, serif;
}
p.sansserif{
	font-family: Helvetica, Arial, sansserif;
}
p.monospace{
	font-family: "Courier New", Courier, monospace;
}
p.cursive{
	font-family: Florence, cursive;
}
p.fantasy{
	font-family: Blippo, fantasy;
}
p.small{
	font-size: small;
}
p.medium{
	font-size: medium;
}
p.large{
	font-size: large;
}
p.xlarge{
	font-size: x-large;
}
h1{
	/*font-size: 20px;*/
	font-size: 1.25em;
	color: #0000FF;          /* em = pixels / 16 */
}
p.normal{
	font-style: normal;
}
p.italic{
	font-style: italic;
}
p.oblique{
	font-style: oblique;
}
p.light{
	font-weight: lighter;
}
p.bold{
	font-weight: bold;
}
p.bolder{
	font-weight: 700; /*100 - 900    700==bolder*/
}
p.normal{
	font-variant: normal;
}
p.small{
	font-variant: small-caps;
}
p.inherit{
	font-variant: inherit;
}
p.example{
	color: green;

}
p.exampleO{
	color: rgb(255, 0, 0);
}
p.left{
	text-align: left;
}
p.right{
	text-align: right;
}
#center{                          /* id ---> */
	text-align: center;
}
td.top{
	vertical-align: top;
}
td.middle{
	vertical-align: middle;
}
td.bottom{
	vertical-align: bottom;
}
span.baseline{
	vertical-align: baseline;
}
span.sub{
	vertical-align: sub;
}
span.super{
	vertical-align: super;
}
span.pixel{
	vertical-align: -10px;
}
.main{
	height: 150px; width: 400px;
	background-color: LightSkyBlue;
	display: inline-table;
}
.paragraph{
	display: table-cell;
	vertical-align: middle;
}
p.none{
	text-decoration: none;
}
p.inherit{
	text-decoration: inherit;
}
p.overline{
	text-decoration: overline;
}
.underline{
	text-decoration: underline;
}
p.line-through{
	text-decoration: line-through;
}
p.blink{
	text-decoration: blink;
}
p.px{
	text-indent: 60px;
}
h1.text-shadow{
	color: blue;
	font-size: 30pt;
	text-shadow: 5px 2px 4px grey; 
/* 5px - the X-coordinate
   2px - the Y-coordinate
   4px - the blue radius
   grey - the color of the shadow
*/
}
h1.text-shadowO{
	font-size: 20pt;
	text-shadow: rgba(0,0, 255, 1) -1px -2px 0.5em;
}
p.capitalize{
	text-transform: capitalize;
}
p.uppercase{
	text-transform: uppercase;
}
p.lowercase{
	text-transform: lowercase;
}
p.normal{
	letter-spacing: normal;
}
p.positive{
	letter-spacing: 4px;
}
p.negtive{
	letter-spacing: -1.5px;
}
p.normalO{
	word-spacing: normal;
}
p.px{
	word-spacing: 30px;
}
p.positiveO{
	word-spacing: 20px;
}
p.negtiveO{
	word-spacing: -5px;
}
p.white-space{
	white-space: nowrap;
}
p.pre{
	white-space: pre; 
}
p.pre-line{
	white-space: pre-line;
}
p.pre-wrap{
	white-space: pre-wrap;
}