@charset "utf-8";
/**
 * IE6 下浮动元素若有margin-bottom值，会消失，
 * 此时解决方法是，给父级加padding-bottom值。
 * 
 * 1. 搭建布局
 * 2. 检查兼容性
 * 3. 开始写各个部分的内容
 */

/* reset */
body, h1, h2, h3, h4, h5, p, dl, dd, ul, 
ol, input, textarea, th, td, select{ 
	margin: 0; 
	padding: 0;
}
em{ font-style: normal; }
li{ list-style: none; }
a{ text-decoration: none; }
img{ border: none; vertical-align: top; }
table{ border-collapse: collapse; }
input, textarea{ outline: none; }
textarea{ resize: none; overflow: auto; }
body{ 
	font-size: 12px; 
	font-family: "微软雅黑"; 
	margin-bottom: 30px;
}
/* end reset */

/* public css */
.clear{ zoom: 1; }
.clear:after{ 
	content: ''; 
	display: block; 
	clear: both; 
}
.fl{ float: left; }
.fr{ float: right; }
.gradient{
	background: -moz-linear-gradient(top, #FFFFFF, #F8F8F8);
	background: -webkit-linear-gradient(top, #FFFFFF, #F8F8F8);
	background: -ms-linear-gradient(top, #FFFFFF, #F8F8F8);
	background: linear-gradient(top, #FFFFFF, #F8F8F8);
	-ms-filter:"proid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#F8F8F8)";
	+background: #F9F9F9;
}
/* end public css */

/* layout */
#header, #nav, .content{
	width: 960px;
	margin: 0 auto;
}
#search, .section, .side_section, .ad_border, #footer{
	border: 1px solid #dbdbdb;
	border-radius: 6px;
}
/*.section, .options, */
.main_ad, .side_section, .side_ad, .ad_border{
	margin-bottom: 10px;
}

#header{
	/*width: 960px;*/
	height: 30px;
	/*margin: 0 auto;*/
	border-radius: 0 0 6px 6px;
}


#nav{
	/*width: 960px;*/
	height: 100px;
	/*margin: 0 auto;*/
}

#search{
	width: 958px;
	height: 114px;
	margin: 0 auto 10px;
	position: relative; 
	/**
	 * 上 右 下 左
	 * 上(下) 右(左)
	 * 上 左右 下
	 */
/*	border: 1px solid #dbdbdb;
	border-radius: 6px;*/
}
#search .bar{}

.content{
/*	width: 960px;
	margin: 0 auto;*/
}
.main{
	width: 710px;
}
.main_wrap{
	padding-bottom: 10px;
}
.section{
	width: 318px;	/*350px*/
	height: 200px;
	padding: 0 15px;
/*	margin-bottom: 10px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;*/
}
.options{
	width: 350px;
	height: 200px;
	position: relative;
/*	margin-bottom: 10px;*/
/*	background: #FF9;*/
}

.main_ad{
/*	margin-bottom: 10px;*/
	border-radius: 6px;
	overflow: hidden;	
	/*出去的部分设置为隐藏，有了圆角*/
}

.side{
	width: 240px;
}
.side_section{
	height: 60px;
	padding: 0 12px;
/*	border-radius: 6px;
	border: 1px solid #dbdbdb;
	margin-bottom: 10px;*/
}
.side_ad{
	border-radius: 6px;
	overflow: hidden;
/*	margin-bottom: 10px;*/
}
.ad_border{
	width: 238px;
	height: 88px;
	overflow: hidden;
/*	border: 1px solid #dbdbdb;
	border-radius: 6px;
	margin-bottom: 10px;*/
}

#footer{
	width: 958px;
	height: 78px;
	margin: 0 auto;
	background: #f9f9f9;
/*	border-radius: 6px;
	border: 1px solid #dbdbdb;*/
}

.options .nav{
	height: 34px;
	position: relative;
	z-index: 2;
}
.options .nav li{
	width: 172px;
	height: 33px;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
}
.options .nav .active{
	width: 172px;
	height: 34px;
	background: #fff;
}
.options .con{
	width: 348px;
	border: 1px solid #dbdbdb;
	border-radius: 0 0 6px 6px;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 1;
}
/* end layout */

/* Items start */
/* header start*/
#header .city{
	float: left;	/*父级有高度，不用清浮动*/
	padding: 4px 0 0 20px;
}
#header .city a{/*行内元素，不认高*/
	height: 18px;	
	display: inline-block;
	padding: 0 8px;
	line-height: 18px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	box-shadow: 1px 1px 0 #ededed;
	background: #ffffff;
	color: #999999;
	font-size: 11px;
}
#header .city .active, #header .city .active:hover{ 
	color: #d60d03; 
	background: #fff; 
}
#header .city a:hover{ 
	/* Love	Hate 	link visit hover active */
	background: #f1f1f1; 
}
#header .link{
	float: right;
	line-height: 30px;
	padding-right: 20px;
	color: #d5d5d5;
/**
* background定位(运动方向)：下正上负，左负右正
*/
}
#header .link a{
	color: #666666; 
	background: url(../img/header_link_bg.gif) no-repeat 0 3px;
	/*padding: 0 4px 20px;	上 左右 下*/
	padding: 0 4px 0 20px;
}
#header .link a:hover{
	text-decoration: underline;
}
#header .link .ico1{
	background-position: 0 3px;
}
#header .link .ico2{
	background-position: 0 -27px;
}
/* header end */

/* nav start */
#nav{
	position: relative;
}
#nav ul{
	position: absolute;
	top: 10px;
}
#nav li{
	float: left;
}
#nav li a{
	display: block;
	width: 66px;
	text-align: center;
	padding-top: 50px;
	background: url(../img/nav_bg.png) no-repeat;
	color: #333;
}
#nav li a:hover{
	text-decoration: underline;
}
#nav .bg1{background-position: 0 0;}
#nav .bg2{background-position: -66px 0}
#nav .bg3{background-position: -132px 0}
#nav .bg4{background-position: -198px 0}
#nav .bg5{background-position: -264px 0}
#nav .bg6{background-position: -330px 0}
#nav .bg7{background-position: -396px 0}
#nav .bg8{background-position: -462px 0}
#nav .bg9{background-position: -528px 0}
#nav .bg10{background-position: -594px 0}

#nav .bg1:hover{background-position: 0 -70px;}
#nav .bg2:hover{background-position: -66px -70px;}
#nav .bg3:hover{background-position: -132px -70px;}
#nav .bg4:hover{background-position: -198px -70px;}
#nav .bg5:hover{background-position: -264px -70px;}
#nav .bg6:hover{background-position: -330px -70px;}
#nav .bg7:hover{background-position: -396px -70px;}
#nav .bg8:hover{background-position: -462px -70px;}
#nav .bg9:hover{background-position: -528px -70px;}
#nav .bg10:hover{background-position: -594px -70px;}

#nav .nav_1{
	position: absolute;
	left: 11px;
}
#nav .nav_2{
	position: absolute;
	right: 11px;
}
#nav h1{
	width: 223px;
	height: 62px;
	margin: 0 auto;
	position: relative;
	top: 10px;
}
/* nav end */

/*search start*/
#search .bar{
	width: 958px;
	height: 64px;
	border: 1px solid #c40d0e;
	position: absolute;
	top: 16px;
	left: -1px;
	border-radius: 5px;
	background: #e21c01;
	box-shadow: 2px 3px 2px #e3e3e3;
}
#search .menu{
	/* 以左上为相对位置，对于浏览器而言，它的坐标系 左正 下正 */
	position: relative;
	top: -27px;
	left: 226px;
}
#search .menu li{
	width: 78px;
	height: 25px;
	float: left;
	margin-right: 1px;
	border: 1px solid #f8d0bf;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	border-bottom: none;
	border-radius: 5px;
	/* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
	box-shadow: 1px 0px 2px 0px rgba(176, 176, 176, 0.3);
}
#search .menu .active{
	height: 27px;
	background: #e21c01;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	position: relative;
	top: -1px;
}
/* 
	找基准：以左侧(X)，顶部(Y)为基准；
	判断靠近还是远离：靠近为负，远离为正，顺正逆负
*/
#search .img{
	width: 163px;
	height: 122px;
	background: url(../img/search_img.png) no-repeat;
	position: absolute;
	left: 32px;
	top: -3px;
	z-index: 2;
}

#search .form{
	position: absolute;
	left: 226px;
	top: 36px;
	z-index: 3;
}
#search .text{
	width: 380px;
	height: 22px;
	padding: 0 12px;
	border-radius: 3px;
	background: #fff1ef;
	border: none;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
	float: left;
	margin-right: 10px;
	color: #EA7A7A;
	font-size: 12px;

}
#search .btn{
	width: 63px;
	height: 26px;
	background: url(../img/search_img.png) no-repeat -163px 0;
	border: none;
	float: left;
}
#search .key_text{
	width: 206px;
	/* background: blue; */
	color: #fff;
	line-height: 18px;
	position: absolute;
	top: 30px;
	right: 36px;
}
#search .key_text a{
	color: #fff;
}
#search .key_text a:hover{
	text-decoration: underline;
}
.triangle{
	
}
/*search end*/
/* Items end */

