/* 浮动元素不设置宽高，默认有内容撑开 */
/* .test{
        float: left;
            width: 200px;
            height: 200px; 
            background: #666666;
            color: red;
        } */


/* 清除浮动方法：
    1. 浮动父级元素加高,不能小于子级高度
    3. 浮动元素所在元素margin失效
*/

/* #box1, #box2{
    height: 30px;
} */

/* #box2{
    clear:both;
    margin-top:100px;  // margin失效 
} */